body {
  background-color: #262a2b;
}

.carousel {
  width: 100%;
  margin: 0 auto;
}
#carousel{	
  display: none;
}
@media(max-width:485px) {
	#carousel{
		display: block;
	}
}
.slick-slide {
	outline: none !important;
}